{% extends 'base.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<h1 id="all-post">All Posts</h1>

    <h4 id="create-new">Create New Blog Post:</h4>
    <form action='/posts' method='POST'>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name='title' required>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Author</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name='author'>
        </div>
        <div class="form-group">
            <textarea class="form-control"  placeholder="Write here..." name="content" rows="5" id="comment" required></textarea>
        </div>
        <input class="btn btn-success" type='submit' value='Post'>
    </form>
    <hr id="end">
    <br>

    {% for post in posts %}
        <br>
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <small>Written by: <b>{{ post.author }}</b> on <i>{{post.date_posted.strftime('%b %d, %Y')}}</i></small>
        {% else %}
            <small>Written by <b>Anonymous</b> on <i>{{post.date_posted.strftime('%b %d, %Y')}}</i></small>
        {% endif %}
        <br>
        <br>
        
        <p style="white-space: pre-wrap;">{{ post.content }}</p>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
        <a class="btn btn-info" href='/posts/edit/{{post.id}}'>Edit</a>
        <br>
        <br>
        <hr>

    {% endfor%}

{% endblock %}